= form_for(@thing) do |f|
  - if @thing.errors.any?
    #error_explanation
      %h2
        = pluralize(@thing.errors.count, "error")
        prohibited this thing from being saved:
      %ul
        - @thing.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :age
    %br/
    = f.number_field :age
  .actions
    = f.submit
